footer {
    background-color: rgba(0, 0, 0, 0.856);
    width: 100%;
    margin: 25px auto;
    margin-bottom: 0px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        margin: 15px auto;
        text-align: center;
        color: #fff;
        box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
        -webkit-box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
        -moz-box-shadow: 1px 4px 30px 0px;
        font-size: 15px;
        background: none;
    }

    .logo-footer {
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: center;

        img {
            width: 50px;
            height: 50px;
        }
    }
}