header .navbar {
  /* background-color: #721630; */
  background: #fffbd5;
  background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
  background: linear-gradient(to left, #721630, #d0d0d0);
  height: 80px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 2px 1px #fff;
}

header .navbar .img-logo {
  width: 20%;
  height: 80px;
  margin-top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar .img-logo img {
  width: 80px;
  height: 80px;
}

header .navbar .button-menu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

header .navbar .button-menu .navbar-toggler {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  background-color: #d9ddd9;
  box-shadow: #aaa8a8 2px 0px 2px 0;
}

header .navbar .navbar-collapse .navbar-nav {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

header .navbar .navbar-collapse .navbar-nav li {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  width: 30%;
}

header .navbar .navbar-collapse .navbar-nav li a {
  text-align: center;
  color: #d9ddd9;
  transition: all 1.4s 0s ease-in-out;
}

header .navbar .navbar-collapse .navbar-nav li a:hover {
  /* color: #db2b5d; */
  background: #DB2B5D;
  background: repeating-radial-gradient(ellipse farthest-corner at left center, #DB2B5D 0%, #787A78 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.1);
  text-shadow: 1px 0px 5px rgba(233, 81, 124, 0.5882352941);
  border-bottom: 1px solid #fff;
}

@media screen and (min-width: 992px) {
  header .navbar {
    background-color: #721630;
    height: 80px;
    display: block;
    flex-direction: row;
  }

  header .navbar .button-menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  header .navbar {
    background-color: #721630;
    height: 80px;
    display: block;
    flex-direction: row;
  }

  header .navbar .navbar-collapse {
    background-color: #721630;
    width: 100%;
  }

  header .navbar .navbar-collapse .navbar-nav {
    display: flex;
    justify-content: space-around;
  }

  header .navbar .navbar-collapse .navbar-nav li {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid white;
  }

  header .navbar .navbar-collapse .navbar-nav li borde a {
    text-align: left;
    color: #d9ddd9;
    transition: all 1.4s 0s ease-in-out;
  }

  header .navbar .navbar-collapse .navbar-nav li a:hover {
    /* color: #db2b5d; */
    background: #DB2B5D;
    background: repeating-radial-gradient(ellipse farthest-corner at left center, #DB2B5D 0%, #787A78 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
    text-shadow: 1px 0px 5px rgba(233, 81, 124, 0.5882352941);
  }
}

main {
  background: #fffbd5;
  background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
  background: linear-gradient(to left, #721630, #d0d0d0);
}

main .contenedor-trending-gifos {
  background-image: url(/assets/img-carousel.svg);
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

main .contenedor-trending-gifos .contenedor-flecha-izquierda {
  background-color: none;
}

main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda {
  background: none;
  border: none;
}

main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda img {
  width: 50px;
  height: 50px;
}

main .contenedor-trending-gifos .contenedor-carousel {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel {
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
  margin: auto;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8078431373);
  height: 80vh;
  padding: 15px;
  border-radius: 25px 5px 25px 5px;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel .text {
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides h5,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 h5,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 h5 {
  width: 100%;
  padding: 20px;
  color: #f3f3f3;
  font-size: 50px;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides p,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 p,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 p {
  width: 100%;
  padding: 20px;
  color: #f3f3f3;
  font-size: 30px;
  font-family: sans-serif;
  font-style: italic;
  display: flex;
  flex-direction: column;
}

main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides p span,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 p span,
main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 p span {
  color: #da0808;
  font-weight: bold;
  text-decoration: underline;
}

main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha {
  background: none;
  border: none;
}

main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha img {
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 1024px) {
  main .contenedor-trending-gifos .contenedor-flecha-izquierda {
    background-color: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda img {
    width: 50px;
    height: 50px;
  }

  main .contenedor-trending-gifos .contenedor-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel {
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: auto;
    justify-content: center;
    height: 80vh;
    padding: 15px;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text {
    padding: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 h5 {
    width: 100%;
    color: #f3f3f3;
    font-size: 30px;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 p {
    width: 100%;
    color: #f3f3f3;
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha img {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 600px) {
  main .contenedor-trending-gifos .contenedor-flecha-izquierda {
    background-color: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda img {
    width: 25px;
    height: 25px;
  }

  main .contenedor-trending-gifos .contenedor-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: auto;
    justify-content: center;
    height: 80vh;
    padding: 5px;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text {
    padding: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    margin: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 h5 {
    width: 100%;
    color: #f3f3f3;
    font-size: 30px;
    height: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #f3f3f3;
    font-size: 17px;
    font-family: sans-serif;
    font-style: italic;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha img {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 400px) {
  main .contenedor-trending-gifos .contenedor-flecha-izquierda {
    background-color: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-izquierda .flecha-izquierda img {
    width: 25px;
    height: 25px;
  }

  main .contenedor-trending-gifos .contenedor-carousel {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-behavior: smooth;
    margin: auto;
    justify-content: center;
    height: 90vh;
    padding: 5px;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text {
    padding: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    align-items: center;
    text-align: center;
    height: 90vh;
    width: 100%;
    margin: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    margin: auto;
    padding: 10px;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 h5,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 h5 {
    width: 100%;
    color: #f3f3f3;
    font-size: 25px;
    height: auto;
  }

  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides3 p,
  main .contenedor-trending-gifos .contenedor-carousel .carousel .text .slides4 p {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    color: #f3f3f3;
    font-size: 15px;
    font-family: sans-serif;
    font-style: italic;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha {
    background: none;
    border: none;
  }

  main .contenedor-trending-gifos .contenedor-flecha-derecha .flecha-derecha img {
    width: 25px;
    height: 25px;
  }
}

main .container-valor-bloqueada {
  border-top: 2px solid #EB5757;
  background-color: rgb(20, 19, 19);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  padding: 20px;
}

main .container-valor-bloqueada .container-card {
  width: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: row;
  align-items: center;
}

main .container-valor-bloqueada .container-card .card1,
main .container-valor-bloqueada .container-card .card2 {
  width: 50%;
  background: #fffbd5;
  background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
  background: linear-gradient(to left, #721630, #d0d0d0);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: hidden;
  margin: 10px;
  height: 150px;
  box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
  -webkit-box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
  -moz-box-shadow: 1px 4px 30px 0px rgba(83, 83, 83, 0.75);
}

main .container-valor-bloqueada .container-card .card1 p,
main .container-valor-bloqueada .container-card .card2 p {
  text-align: center;
  font-size: 25px;
  /* background: -webkit-linear-gradient(rgb(224, 224, 224), #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #d0d0d0;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
}

main .container-valor-bloqueada .container-card .card1 h3,
main .container-valor-bloqueada .container-card .card2 h3 {
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #c4c4c4;
  font-style: normal;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
}

main .container-valor-bloqueada .container-card .card1 {
  background: #fffbd5;
  background: -webkit-linear-gradient(to right, #721630, #e7e6e3);
  background: linear-gradient(to right, #721630, #d0d0d0);
}

main .container-valor-bloqueada .text-card {
  margin: 15px auto;
  width: 100%;
}

main .container-valor-bloqueada .text-card p {
  margin: 15px auto;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-style: oblique;
}

main .container-valor-bloqueada .container-button {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

main .container-valor-bloqueada .container-button button {
  width: 50%;
  background: #fffbd5;
  background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
  background: linear-gradient(to left, #721630, #d0d0d0);
  color: #d0d0d0;
  font-family: sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  text-align: center;
  border: hidden;
  border-radius: 15px;
  height: 50px;
  transition: all 1.4s 0s ease-in-out;
  font-size: 25px;
}

main .container-valor-bloqueada .container-button button:hover {
  cursor: pointer;
  color: #616060;
  text-shadow: 0px 0px 7px rgba(194, 194, 194, 0.664);
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
}

@media screen and (max-width: 1024px) {
  main .container-valor-bloqueada {
    border-top: 2px solid #EB5757;
    background-color: rgb(20, 19, 19);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
  }

  main .container-valor-bloqueada .container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    align-items: center;
  }

  main .container-valor-bloqueada .container-card .card1,
  main .container-valor-bloqueada .container-card .card2 {
    width: 100%;
    background: #fffbd5;
    background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
    background: linear-gradient(to left, #721630, #d0d0d0);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: hidden;
    margin: 10px;
    height: 150px;
    box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
    -webkit-box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
    -moz-box-shadow: 1px 4px 30px 0px rgba(83, 83, 83, 0.75);
  }

  main .container-valor-bloqueada .container-card .card1 p,
  main .container-valor-bloqueada .container-card .card2 p {
    text-align: center;
    font-size: 25px;
    /* background: -webkit-linear-gradient(rgb(224, 224, 224), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #d0d0d0;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }

  main .container-valor-bloqueada .container-card .card1 h3,
  main .container-valor-bloqueada .container-card .card2 h3 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #c4c4c4;
    font-style: normal;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }

  main .container-valor-bloqueada .container-card .card1 {
    background: #fffbd5;
    background: -webkit-linear-gradient(to right, #721630, #e7e6e3);
    background: linear-gradient(to right, #721630, #d0d0d0);
  }

  main .container-valor-bloqueada .text-card {
    margin: 15px auto;
    width: 100%;
  }

  main .container-valor-bloqueada .text-card p {
    margin: 15px auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
  }

  main .container-valor-bloqueada .container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
  }

  main .container-valor-bloqueada .container-button button {
    width: 80%;
    background: #fffbd5;
    background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
    background: linear-gradient(to left, #721630, #d0d0d0);
    color: #d0d0d0;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
    text-align: center;
    border: hidden;
    border-radius: 15px;
    height: 70px;
    transition: all 1.4s 0s ease-in-out;
    font-size: 25px;
  }

  main .container-valor-bloqueada .container-button button:hover {
    cursor: pointer;
    color: #616060;
    background: #c94b4b;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
  }
}

@media screen and (max-width: 500px) {
  main .container-valor-bloqueada {
    border-top: 2px solid #EB5757;
    background-color: rgb(20, 19, 19);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding: 20px;
  }

  main .container-valor-bloqueada .container-card {
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
  }

  main .container-valor-bloqueada .container-card .card1,
  main .container-valor-bloqueada .container-card .card2 {
    width: 80%;
    background: #fffbd5;
    background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
    background: linear-gradient(to left, #721630, #d0d0d0);
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: hidden;
    margin: 10px;
    height: 150px;
    box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
    -webkit-box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
    -moz-box-shadow: 1px 4px 30px 0px rgba(83, 83, 83, 0.75);
  }

  main .container-valor-bloqueada .container-card .card1 p,
  main .container-valor-bloqueada .container-card .card2 p {
    text-align: center;
    font-size: 25px;
    /* background: -webkit-linear-gradient(rgb(224, 224, 224), #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #d0d0d0;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }

  main .container-valor-bloqueada .container-card .card1 h3,
  main .container-valor-bloqueada .container-card .card2 h3 {
    text-align: center;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #c4c4c4;
    font-style: normal;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }

  main .container-valor-bloqueada .container-card .card1 {
    background: #fffbd5;
    background: -webkit-linear-gradient(to right, #721630, #e7e6e3);
    background: linear-gradient(to right, #721630, #d0d0d0);
  }

  main .container-valor-bloqueada .text-card {
    margin: 15px auto;
    width: 100%;
  }

  main .container-valor-bloqueada .text-card p {
    margin: 15px auto;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: sans-serif;
    font-style: oblique;
  }

  main .container-valor-bloqueada .container-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
  }

  main .container-valor-bloqueada .container-button button {
    width: 80%;
    background: #fffbd5;
    background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
    background: linear-gradient(to left, #721630, #d0d0d0);
    color: #d0d0d0;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
    text-align: center;
    border: hidden;
    border-radius: 15px;
    height: 70px;
    transition: all 1.4s 0s ease-in-out;
    font-size: 25px;
  }

  main .container-valor-bloqueada .container-button button:hover {
    cursor: pointer;
    color: #616060;
    background: #c94b4b;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
  }
}

main .promociones {
  padding-top: 20px;
  border-top: 2px solid #EB5757;
  width: 100%;
  background-image: url(./assets/fondo-2.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  flex-direction: column;
}

main .promociones h2 {
  margin: 30px auto;
  text-align: center;
  width: 100%;
  font-size: 30px;
  color: #fff;
  text-decoration: underline;
}

main .promociones .parrafo-promociones {
  text-align: center;
  color: #fff;
  width: 50%;
  margin: 20px auto;
  font-size: 20px;
}

main .promociones .contenedor-promociones {
  width: 80%;
  text-align: center;
  color: #fff;
}

main .promociones .contenedor-promociones h3 {
  text-decoration: overline;
  font-size: 25px;
  margin: 20px auto;
}

main .promociones .contenedor-promociones .contenedor-cards-promo {
  background: #EB5757;
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  background: linear-gradient(to right, #000000, #EB5757);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  margin: 20px auto;
  border-radius: 25px;
  flex-wrap: wrap;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .p1 {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .p1 .parrafo1 {
  font-size: 25px;
  border-bottom: 1px solid #fff;
  width: 100%;
  font-weight: bold;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .p1 .parrafo2 {
  font-size: 20px;
  text-align: right;
  width: 100%;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .flecha {
  width: 33.3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .flecha img {
  width: 100px;
  height: 100px;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .p2 {
  width: 33.3%;
  padding: 5px;
}

main .promociones .contenedor-promociones .contenedor-cards-promo .p2 h4 {
  width: 100%;
  font-size: 70px;
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
}

@media screen and (max-width: 1024px) {
  main .promociones .contenedor-promociones .contenedor-cards-promo .p2 h4 {
    width: 100%;
    font-size: 40px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }
}

@media screen and (max-width: 768px) {
  main .promociones .contenedor-promociones .contenedor-cards-promo {
    flex-direction: column;
  }

  main .promociones .contenedor-promociones .contenedor-cards-promo .p1 {
    width: 100%;
  }

  main .promociones .contenedor-promociones .contenedor-cards-promo .p1 .parrafo1,
  main .promociones .contenedor-promociones .contenedor-cards-promo .p1 .parrafo2 {
    width: 100%;
    text-align: center;
  }

  main .promociones .contenedor-promociones .contenedor-cards-promo .flecha img {
    width: 100px;
    height: 100px;
    transform: rotate(90deg);
  }

  main .promociones .contenedor-promociones .contenedor-cards-promo .p2 {
    width: 100%;
  }

  main .promociones .contenedor-promociones .contenedor-cards-promo .p2 h4 {
    width: 100%;
    font-size: 40px;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.664);
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.856);
  width: 100%;
  margin: 25px auto;
  margin-bottom: 0px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer h3 {
  margin: 15px auto;
  text-align: center;
  color: #fff;
  box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
  -webkit-box-shadow: 1px 4px 30px 0px rgba(85, 85, 85, 0.75);
  -moz-box-shadow: 1px 4px 30px 0px;
  font-size: 15px;
  background: none;
}

footer .logo-footer {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

footer .logo-footer img {
  width: 50px;
  height: 50px;
}

body {
  background: #fffbd5;
  background: -webkit-linear-gradient(to left, #721630, #e7e6e3);
  background: linear-gradient(to left, #721630, #d0d0d0);
}

.loader {
  border: 2px solid #f3f3f3;
  border-radius: 50%;
  border-top: 2px solid #3498db;
  width: 30px;
  height: 30px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  margin-top: 35px;
  margin-bottom: -35px;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

main .desarrolladores .card {
  border-radius: 15px;
  padding: 10px;
  border: hidden;
  color: #d0d0d0;
  background: #EB5757;
  background: -webkit-linear-gradient(to right, #000000, #EB5757);
  background: linear-gradient(to right, #000000, #EB5757);
}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */